{{ partial "head.html" . }}
   <body>


      {{ partial "nav.html" . }}

			<main>
      	<article id="content">

					<!-- <h1>Articles</h1> -->



					{{ range .Sections }}
					  <h2>{{ .Title }}</h2>
						<p>{{ .Content }}</p>

						{{ range .Pages }}
              <div>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                <p>
                  {{ .Plain | truncate 200 }}
                  {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <!-- <a href="{{ .RelPermalink }}">Read More…</a> -->
                  {{ end }}
                </p>
              </div>

					  {{ end }}

            {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
  {{with .PrevInSection }}
  {{ . }}
  {{ end }}
  {{ with .NextInSection }}
  {{ . }}
  {{ end }}
  {{ end }}

					  {{ range .Sections }}
              {{ if not .Params.hidden }}
					     <h3>Subsection: {{ .Title }}</h3>
							 {{ .Content }}

					     {{ range .Pages }}

                <div>
                  <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                  <p>
                    {{ .Plain | truncate 200 }}
                    {{ if .Truncated }}
                      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                      <!-- <a href="{{ .RelPermalink }}">Read More…</a> -->
                    {{ end }}
                  </p>
                </div>

					     {{ end }}
               {{ end }}
					  {{ end }}
					{{ end}}



					<!-- <hr> -->


					<!-- <h1>Test Sections</h1>
					<ul>
						{{ range $.Site.Home.Sections }}
						  <li>Section: {{ .Title }}
								<ul>
								  {{ range .Pages }}
								     <li>Section Page: {{ .Title }}</li>
								  {{ end }}
								</ul>
							</li>
						{{ end }}
					</ul> -->


           {{ partial "footer.html" . }}

				 </article>
			 </main>

       {{ partial "js.html" . }}
   </body>
</html>
