{{ partial "head.html" . }}
   <body>


      {{ partial "nav.html" . }}

			<main>
      	<article id="content">

					<!-- <pre>{{ printf "%#v" . }}</pre> -->


					<pre>TITLE: {{ .Title }}</pre>

					<hr>

					<h1>Test 1: group by</h1>

					<!-- Groups content according to content section.-->
					{{ range $s := .Data.Pages.GroupBy "Section" }}

						<pre>{{ printf "%#v" . }}</pre>
						<!-- Checks for existence of _index.md for a section; if available, pulls from "title" in front matter -->
						{{ with $.Site.GetPage "section" .Key }}
							<h3>{{.Title}}</h3>
						{{ else }}
							<!-- If no _index.md is available, ".Key" defaults to the section title and filters to title casing -->
							<h3>{{ .Key | title }}</h3>
						{{ end }}

						<ul>
						    {{ range $s.Pages }}
						    <li>
						    <a href="{{ .Permalink }}">{{ .Title }}</a>
						    	<div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
						    </li>
						    {{ end }}
						</ul>
					{{ end }}


					<hr>


					<h1>Another test</h1>
					{{ range $.Site.Home.Sections }}
						{{ if .Section }}
						  <h3>Section: {{ .Title }}</h3>
							<p>{{ .Content }}</p>
							<pre>{{ printf "%#v" . }}</pre>

							{{ range .Pages }}
						     <h4>Section Page: {{ .Title }}</h4>
						  {{ end }}

						  {{ range .Sections }}
						     <h4>Subsection: {{ .Title }}</h4>
								 {{ .Content }}
								 
						     {{ range .Pages }}
						       <p>Subsection page: {{ .Title }}</p>
						     {{ end }}
						  {{ end }}
						{{ end}}

					{{ end }}


					<hr>

					<h1>Test Sections</h1>
					<ul>
						{{ range $.Site.Home.Sections }}
						  <li>Section: {{ .Title }}
								<ul>
								  {{ range .Pages }}
								     <li>Section Page: {{ .Title }}</li>
								  {{ end }}
								</ul>
							</li>
						{{ end }}
					</ul>


					<hr>


					<h1>Test 2</h1>

					<ul>
			    <!-- Ranges through content/post/*.md -->
			    {{ range .Data.Pages }}
			        <li>
			            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>

									<ul>
							    <!-- Ranges through content/post/*.md -->
							    {{ range .Data.Pages }}
							        <li>
							            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
													<ul>
											    <!-- Ranges through content/post/*.md -->
											    {{ range .Data.Pages }}
											        <li>
											            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
											        </li>
											    {{ end }}
											    </ul>
							        </li>
							    {{ end }}
							    </ul>
			        </li>
			    {{ end }}
			    </ul>


					<h1>Test 3: Tags template</h1>

          <h3>Article Topics</h3>
          <ul class="tags">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
              <li><a style="text-transform: capitalize" href="#{{ $name | urlize}}">{{ $name }}</a>
                <!-- <span>({{ len $taxonomy }})</span> -->
              </li>
            {{ end }}
          </ul>

          <br><br><hr>

           <div class="page-tags" id="tags">
               {{ range $name, $taxonomy := .Site.Taxonomies.tags }}

                <h3 style="text-transform: capitalize" id="{{ $name | urlize }}">{{ $name }}</h3>
                {{ range $taxonomy }}
                  <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                  <p>{{ .Description }}</p>
                {{ end }}

               {{ end }}
           </div>

           {{ partial "footer.html" . }}

				 </article>
			 </main>

       {{ partial "js.html" . }}
   </body>
</html>
