    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <main>
            <article class="post">
                <h1>{{ .Title }}</h1>

                {{ if .Site.Params.enableToc }}
                  {{ if .Params.toc }}
                    {{ if and (gt .WordCount 1000 ) (ne .Params.toc "false") }}
                      {{ if .TableOfContents }}
                        <div id="toc">
                          {{ .TableOfContents }}
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}

                {{ .Content }}

                <div class="links">
                  {{if .PrevInSection}}
                    <a class="prev" href="{{.PrevInSection.Permalink}}">← Prev: {{ .PrevInSection.Title}}</a>
                  {{end}}

                  {{if .NextInSection}}
                    <a class="next" href="{{.NextInSection.Permalink}}">Next: {{ .NextInSection.Title}} →</a>
                  {{end}}
                </div>

            </article>

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDuoshuo }}
                {{ partial "duoshuo.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </main>

        {{ partial "js.html" . }}
    </body>
</html>
