	{{ partial "head.html" . }}

	<div id="intro">
		<div>
			<h1>Are you in a relationship?</h1>
			<h3>Want to know God's plan for your romance?</h3>
			<div><a href="#content">&#9660;</a></div>
		</div>
	</div>

	<main>

		{{ partial "nav.html" . }}

		<article id="content">

				{{ range $.Site.Home.Sections }}
					{{ if ne .Section "blog" }}

						<h2>{{ .Title }}</h2>
						{{ .Content }}

						<ul>
							{{ range .Pages }}
								 <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
							{{ end }}
						</ul>

					{{ end}}
				{{ end }}

        {{ partial "footer.html" . }}
    </article>

    {{ partial "js.html" . }}
    </body>
</html>
