	{{ partial "head.html" . }}

	<div id="intro">
		<div>
			<h1>Are you in a relationship?</h1>
			<h3>Want to know God's plan for your romance?</h3>
			<div><a href="#content">&#9660;</a></div>
		</div>
	</div>

	<main>

		{{ partial "nav.html" . }}

		<article id="content">

			<p>This ministry exists to encourage people to seek the Lord, learn to hear His voice, and follow His leading. Much of the church enters relationships because of their own desires instead of God's leading. A romantic relationship that glorifies God requires walking by faith, purity, and following Christ's example.</p>

			<p>Walking by faith means we obey what He has already told us to do, and trust that He will provide for our every need (whatever is good for us) in His perfect timing. Waiting on the Lord means we put our own desires aside to seek the Lord until we receive direction. If you are to marry, the only marriage you should desire is one arranged by God.</p>

				{{ range $.Site.Home.Sections }}
					{{ if ne .Section "blog" }}

						<h2>{{ .Title }}</h2>
						{{ .Content }}

						<ul>
							{{ range .Pages }}
								 <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
							{{ end }}
						</ul>

					{{ end}}
				{{ end }}


        {{ partial "footer.html" . }}
    </article>

    {{ partial "js.html" . }}
    </body>
</html>
