	{{ partial "head.html" . }}

	<div id="intro">
		<div>
			<h1>Are you in a relationship?</h1>
			<h3>Want to know God's plan for your romance?</h3>
			<div><a href="#content">&#9660;</a></div>
		</div>
	</div>

	<main>

		{{ partial "menu.html" . }}

		<article id="content">

				{{ range $.Site.Home.Sections }}
					{{ if eq .Section "post" }}
						<pre>
							Section: {{ .Title }}
							Kind: {{ .Kind }}
							Pages: {{ len .Pages }}
						</pre>

						<ul>
							{{ range .Pages }}
								 <li>Section Page: <a href="{{ .Permalink }}">{{ .Title }}</a></li>
							{{ end }}
						</ul>

						{{ range .Sections }}
							 {{ if .Content }}
							 	{{ .Content }}
							 {{ else }}
							 	<p>NO CONTENT</p>
							 {{ end }}

							 {{ range .Pages }}
							 	<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
								<p>{{ .Description }}</p>
							 {{ end }}

						{{ end }}
					{{ end}}

				{{ end }}

        {{ partial "footer.html"     . }}
    </article>

    {{ partial "js.html" . }}
    </body>
</html>
